<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  
  <title>Application</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    

  <script src="cordova.js"></script>
  <script src="js/app.js"></script> 
  
</head>

<body ng-controller="AppController">  
  <ons-modal var="newListingModal">
  <form ng-submit="addListing()">
    <div style="text-align: center">

      <section style="margin: 8px;">
        <input type="text" class="text-input" ng-model="title" style="display: block; width: 100%">
      </section>
      <section style="margin: 8px;">
        <textarea class="textarea" ng-model="description" style="width: 100%; height: 100px;"></textarea>
      </section>
      <section style="margin: 8px;">
        <button class="button" type="submit">Post</button>
      </section>
      <section style="margin: 8px;">
        <button class="button" ng-click="hideNewListingModal()" type="submit">Cancel</button>
      </section>
    </div>
  </form>

  <ons-icon var="spinnerNewListing" hide="true" icon="ion-loading-c" spin="true"></ons-icon>
</ons-modal>  

<ons-tabbar>
<ons-tabbar-item active="true" page="home.html">
<div class="tab">
  <ons-icon icon="ion-home" class="tab-icon"></ons-icon>
  <div class="tab-label">Timeline</div>
</div>
</ons-tabbar-item>

<ons-tabbar-item page="settings.html">
<div class="tab">
  <ons-icon icon="ion-gear-a" class="tab-icon"></ons-icon>
  <div class="tab-label">Settings</div>
</div>
</ons-tabbar-item>
</ons-tabbar>

<ons-template id="home.html">
<ons-navigator>
<ons-page>
<ons-toolbar>
<div class="left">
  <ons-toolbar-button ng-click="showNewListingModal()">
  <ons-icon icon="ion-compose"></ons-icon>
</ons-toolbar-button></div>
<div class="center">Home</div>
<div class="right"></div>
</ons-toolbar>

<ons-list style="margin: -1px 0">
<ons-list-item modifier="chevron" class="item" ng-repeat="post in posts" ng-click="doSomething()">
<ons-row>
<ons-col width="60px"> 
<div class="item-thum"></div>
</ons-col>
<ons-col>
<header>
  <span class="item-title">{{post.title}}</span>
  <span class="item-label">5h</span>
</header>
<p class="item-desc">{{post.description}}</p>
</ons-col>
</ons-row>                          
</ons-list-item>
</ons-list>
</ons-page>
</ons-navigator>
</ons-template>

<ons-template id="settings.html">
<ons-page>
<ons-toolbar>
<div class="center">Settings</div>
</ons-toolbar>

<ons-row class="profile-wrapper">
<ons-col width="60px" class="profile-image-wrapper">
<div class="profile-image"></div>
</ons-col>

<ons-col>
<div class="profile-name">Foobar</div>
<div class="profile-email">foobar@example.com</div>
</ons-col>

</ons-row>

<div class="settings-header">Share</div>

<ons-list modifier="inset" class="settings-list">
<ons-list-item>
Twitter
<ons-switch modifier="list-item"></ons-switch>
</ons-list-item>

<ons-list-item>
Facebook
<ons-switch modifier="list-item" checked></ons-switch>
</ons-list-item>
</ons-list>

<div class="settings-header">Others</div>

<ons-list modifier="inset" class="settings-list">
<ons-list-item modifier="chevron" ng-click="doSomething()">
Terms of Service
</ons-list-item>

<ons-list-item modifier="chevron" ng-click="doSomething()">
Privacy Policy
</ons-list-item>
</ons-list>

<br>

<ons-list modifier="inset" class="settings-list">
<ons-list-item modifier="tappable" ng-click="doSomething()">
<ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>
Sign out
</ons-list-item>
</ons-list>

<br>

</ons-page>
</ons-template>

</body>
</html>
